@use '../abstracts/breakpoints' as *;

body {
    background-size: cover;
    background-position: bottom center;
}

.technology {
    background-image: url('../../assets/technology/background-technology-mobile.jpg');

    @include tb {
        background-image: url('../../assets/technology/background-technology-tablet.jpg');
        background-position: center center;
    }

    @include dt {
        background-image: url('../../assets/technology/background-technology-desktop.jpg');
    }
}

.destination {
    background-image: url('../../assets/destination/background-destination-mobile.jpg');

    @include tb {
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
        background-position: center center;
    }

    @include dt {
        background-image: url('../../assets/destination/background-destination-desktop.jpg');
    }
}

.crew {
    background-image: url('../../assets/crew/background-crew-mobile.jpg');

    @include tb {
        background-image: url('../../assets/crew/background-crew-tablet.jpg');
        background-position: center center;
    }

    @include dt {
        background-image: url('../../assets/crew/background-crew-desktop.jpg');
    }
}

.home {
    background-image: url('../../assets/home/background-home-mobile.jpg');

    @include tb {
        background-image: url('../../assets/home/background-home-tablet.jpg');
        background-position: center center;
    }

    @include dt {
        background-image: url('../../assets/home/background-home-desktop.jpg');
    }
}